@import "./functions";
section.contact {
    grid-column: 1 / -1;
    background-color: #3333335a;
    padding-top: 4rem;
    padding-bottom: 4rem;

    // border-radius: 35% 35% 0% 0% / 10% 10% 0% 0% ;
    border-top: 1px solid #555555;
    border-bottom: 1px solid whitesmoke;

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        word-spacing: 2px;
        color: rgba(0, 0, 0, 0.9);
    }
    .email {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.3rem;
        svg{
            width: 1.75rem;
            height: 1.75rem;
            margin-right: 0.7rem;
        }
    }

    .contactLinks {
        display: grid;
        grid-template-columns: 1fr 19.2rem 1fr;
        .container {
            grid-column: 2/3;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-row-gap: 1rem;
            .contactLink {
                justify-self: center;
                align-self: center;
                a {
                    width: 1.5rem;
                    height: 1.5rem;
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        fill: #202020;
                    }
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

// for tablet screens from 600px to 992px
@media (min-width: 600px) {
    section.contact {
        h2 {
            font-size: 1.7rem;
        }
        .contactLinks {
            grid-template-columns: 1fr 25rem 1fr;
            .container {
                grid-template-columns: repeat(8, 1fr);
                grid-row-gap: 0rem;
                .contactLink {
                    margin-top: 1rem;

                    a {
                        img {
                            // changed
                            @include responsiveImage();
                            border-radius: 50%;
                            box-shadow: none;
                            transition: box-shadow ease-in 200ms;
                            &:hover {
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
                                transition: box-shadow ease-out 200ms;
                            }
                        }
                    }
                }
            }
        }
    }
}

// for desktop screens from 992px to 1366px
@media (min-width: 992px) {
}
