// default screen size (Mobile screen) 310px to 600px
header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    position: relative;
    // overflow-x: hidden;
    // overflow-y: visible;
    margin-bottom: 2.5rem;
    div.logo {
        width: 4rem;
        height: 2rem;
        a {
            img {
                @include responsiveImage();
            }
        }
    }

    nav {
        cursor: pointer;
        ul {
            list-style-type: none;
            position: absolute;
            background-image: linear-gradient(45deg, #3023ae 0%, #f09 100%);
            border-radius: 38% 5% 0% 28% / 25% 55% 31% 13%;
            padding: 15rem 15rem 5rem 5rem;
            top: 0px;
            right: 0rem;
            transform: translate(100%, -100%);
            transition: transform ease-out 300ms;

            li {
                color: whitesmoke;
                padding: 0.35rem 0;
                word-spacing: 2px;
                a {
                    text-decoration: none;
                    color: whitesmoke;
                }
            }
        }
        ul.active {
            // display: block;
            transform: translate(50%, -50%);
            transition: transform ease-in 300ms;
        }
    }
}
// for tablet screens from 600px to 992px
@media (min-width: 600px) {
    header {
        padding-top: 1rem;
        align-items: center;
        div.logo{
            width: 6rem;
           
        }
        nav {
            // new rule
            // ***************************
            div {
                display: none;
            }
            // ***************************

            cursor: default;
            ul {
                position: relative; // change
                background-image: none; // change
                border-radius: initial; //change
                padding: 0px; // change
                top: auto; // change
                right: auto; // change
                transform: none; // change
                transition: none; // change
                // new rule
                // ***************************
                display: flex;
                width: 12rem;
                justify-content: space-around;
                // ***************************
                li {
                    // color: #333333; // change
                    padding: 0px; // change
                    a {
                        color: #555555; // change
                        &:hover{
                            color: #000000;
                            border-bottom: 1px solid black;
                        }
                    }
                    // new rules
                    // ***************************
                    &:first-child {
                        display: none;
                    }
                    cursor: pointer;
                    // ***************************
                }
            }
            ul.active {
                // display: block;
                transform: none; // change
                transition: none; // change
            }
        }
    }
}

// for desktop screens from 992px to 1366px
@media (min-width: 992px) {
    header {
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
        div.logo{
           grid-column: 2/3;
        }
        nav{
            grid-column: 3/4;
            justify-self: flex-end;
        }
    }
}

@media (min-width: 1366px){
    header{
        grid-template-columns: 1fr 546.5px 546.5px 1fr;
    }
    
}
