*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
// root class
.root {
    display: grid;
    grid-template-columns: 1fr 19.2rem 1fr;
}
// Hero section 1
section.heroHeader {
    grid-column: 2 / 3;
    h1 {
        text-align: center;
    }
}

section.heroFigure {
    grid-column: 2 / 3;
    margin-top: 1.9rem;
    figure {
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

section.heroDesc {
    grid-column: 2/3;
    margin-top: 1.9rem;
    p {
        text-align: center;
    }
}

section.CallToAction {
    grid-column: 2/3;
    margin-top: 3rem;
    text-align: center;
    a {
        text-decoration: none;
        padding: 0.8rem 2.5rem;
        color: #ffcd04;
        background-color: #202020;
        border-radius: 10px;
    }
}
// End of Hero section

// start of Project section
section.projects {
    grid-column: 1/-1;
    margin-top: 4rem;
    background-color: #eeeeeefa;
    // ----------------------------
    display: grid;
    grid-template-columns: 1fr 19.2rem 1fr;

    h3 {
        grid-column: 2/3;
        text-align: center;
    }
    div {
        grid-column: 2/3;
        
        figure {
            
            a {
                display: block;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
// End of projects section

// start of Tools section
section.tool{
    grid-column: 2/3;

    h3{
        text-align: center;
    }
    .toolsHeading{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


