*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#root {
    overflow: hidden;
}
// root class
main.portfolioMain {
    display: grid;
    grid-template-columns: 1fr 19.2rem 1fr;
    // margin
}
// Hero section 1
section.heroHeader {
    grid-column: 2 / 3;
    h1 {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 1.3;
        color: rgba(0, 0, 0, 0.8);
    }
}

section.heroFigure {
    grid-column: 2 / 3;
    margin-top: 1.9rem;
    figure {
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

section.heroDesc {
    grid-column: 2/3;
    margin-top: 2rem;
    margin-bottom: 2rem;
    p {
        text-align: center;
        font-family: "Roboto", sans-serif;
        line-height: 1.5;
        word-spacing: 2px;
        color: rgba(75, 75, 75, 1);
    }
}

section.CallToAction {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
        text-decoration: none;
        word-spacing: 4px;
        width: 10rem;
        padding: 0.8rem 0rem;
        color: #ffcd04;
        background-color: #202020;
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        transform: scaleX(1);
        transition: transform ease-out 200ms;
        // box-shadow: 0px 0px 15px (20, 20, 20, 1);
        &:hover {
            box-shadow: 0px -2px 0px rgba(255, 205, 4, 1), 0px 2px 0px rgba(255, 205, 4, 1),
                2px 0px 0px rgba(255, 205, 4, 1), -2px 0px 0px rgba(255, 205, 4, 1);

            // border: 1px solid rgba(255, 205, 4, 1);
            transform: scaleX(1.05);
            transition: transform ease-in 200ms, box-shadow ease-in 200ms;
        }
    }
}
// End of Hero section

// separation
div.separation {
    grid-column: 2 / 3;
    margin-top: 2rem;
    // // border-top: 1rem solid transparent;
    // border-left: 20rem solid transparent;
    // border-bottom: 1rem solid #eeeeeefa;
    // height: 5rem;
    position: relative;
    .custom-shape-divider-top-1595766065 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1595766065 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 79px;
    }

    .custom-shape-divider-top-1595766065 .shape-fill {
        fill: white;
    }
}

// start of Project section
section.projects {
    grid-column: 1/-1;
    margin-top: 0rem;
    padding-bottom: 1rem;
    background-color: #eeeeeefa;
    // ----------------------------
    display: grid;
    grid-template-columns: 1fr 19.2rem 1fr;
    h2 {
        grid-column: 2/3;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 1.5rem;
        font-family: "Roboto", sans-serif;
        word-spacing: 2px;
    }
    div {
        grid-column: 2/3;

        figure {
            a {
                display: block;
                width: 100%;
                margin-bottom: 0.5rem;
                padding: 0.25rem;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                border-radius: 5px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            figcaption {
                margin-bottom: 2rem;
                h4 {
                    margin-bottom: 0.5rem;
                    font-family: "Roboto", sans-serif;
                }
                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 0.9rem;
                    line-height: 1.5;
                    word-spacing: 2px;
                    color: rgba(75, 75, 75, 1);
                    text-align: justify;
                }
                span {
                    font-family: "Roboto", sans-serif;
                    font-size: 0.9rem;
                    a {
                        display: inline;
                        text-decoration: none;
                        padding: 0px;
                        box-shadow: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: black;
                    }
                }
            }
        }
    }
}
// End of projects section

// start of Tools section
section.tool {
    grid-column: 2/3;
    padding-top: 2rem;
    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-family: "Roboto", sans-serif;
        word-spacing: 2px;
        color: rgba(0, 0, 0, 0.9);
    }
    div.toolsHeading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.7rem;
        h3 {
            font-family: "Roboto", sans-serif;
            margin-left: 0.5rem;
        }
    }
    p {
        font-family: "Roboto", sans-serif;
        line-height: 1.5;
        word-spacing: 2px;
        text-align: center;
        margin-bottom: 2rem;
        color: rgba(0, 0, 0, 0.9);
    }
}
// end of Tools section
// start contact section (Contact Component)
section.contact {
    grid-column: 1 / -1;
    background-color: #3333335a;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-family: "Roboto", sans-serif;
        word-spacing: 2px;
        color: rgba(0, 0, 0, 0.9);
    }
    .email {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.3rem;
        font-family: "Roboto", sans-serif;
        img {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }
    }

    .contactLinks {
        display: grid;
        grid-template-columns: 1fr 19.2rem 1fr;
        .container {
            grid-column: 2/3;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-row-gap: 1rem;
            .contactLink {
                justify-self: center;
                align-self: center;
                a {
                    width: 1.5rem;
                    height: 1.5rem;
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
// End of contact section
// start footer section
footer {
    grid-column: 1 / -1;
    background-color: #333333ee;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    div.container {
        display: grid;
        grid-template-columns: 1fr 9.6rem 9.6rem 1fr;
        grid-template-rows: auto auto auto 2rem;
        grid-row-gap: 0.5rem;
        a {
            color: whitesmoke;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            word-spacing: 2px;
            font-size: smaller;
        }
        div.publishDate {
            color: whitesmoke;
            grid-row: 4;
            grid-column: 2 / 4;
            justify-self: center;
            align-self: flex-end;
            font-family: "Roboto", sans-serif;
            font-size: smaller;
            word-spacing: 2px;
        }
    }
}

div.about {
    main {
        display: grid;
        grid-template-columns: 10% 80% 10%;

        padding-bottom: 2rem;
        div.cover {
            grid-column: 1 / -1;
            height: 13rem;
            // background-image: url("cover.svg");
            // background-size: cover;
            margin-bottom: 1.5rem;
            position: relative;
            &::before {
                content: "";
                background: url(cover.jpg);
                background-size: cover;
                opacity: 0.5;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }

            display: grid;
            grid-template-columns: 10% 80% 10%;

            figure {
                grid-column: 2/3;
                margin-top: 1rem;
                // border: 1px solid;
                // transform: rotate(45deg);
                img {
                    width: 8rem;
                    height: 8rem;
                    object-fit: cover;
                    border-radius: 5px;
                    transform: rotate(0deg);
                    padding: 0.3rem;
                    margin-bottom: 1rem;
                    border: 1px solid #947a12;
                    box-shadow: none;
                    transform: rotate(0deg);
                    transition: transform ease-out 200ms, box-shadow ease-out 200ms;

                    &:hover {
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                        transform: rotate(15deg);
                        transition: transform ease-in 200ms, box-shadow ease-in 200ms;
                    }
                }

                figcaption {
                    h3 {
                        color: #222222;
                        font-family: "Roboto", sans-serif;
                        word-spacing: 2px;
                    }
                    p {
                        color: #444444;
                        font-family: "Roboto", sans-serif;
                        word-spacing: 2px;
                    }
                }
            }
        }
        p.about-desc {
            grid-column: 2/3;
            line-height: 1.6;
            word-spacing: 4px;
            font-family: "Roboto", sans-serif;
            letter-spacing: 0.5px;
        }
    }
}

// header
header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    position: relative;
    // overflow-x: hidden;
    // overflow-y: visible;
    margin-bottom: 2.5rem;
    div.logo {
        width: 4rem;
        height: 2rem;
        a {
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }

    nav {
        cursor: pointer;
        ul {
            list-style-type: none;
            position: absolute;
            background-image: linear-gradient(45deg, #3023ae 0%, #f09 100%);
            border-radius: 38% 5% 0% 28% / 25% 55% 31% 13%;
            padding: 15rem 15rem 5rem 5rem;
            top: 0px;
            right: 0rem;
            transform: translate(100%, -100%);
            transition: transform ease-out 300ms;

            li {
                color: whitesmoke;
                padding: 0.35rem 0;
                font-family: "Roboto", sans-serif;
                word-spacing: 2px;
                a {
                    text-decoration: none;
                    color: whitesmoke;
                }
            }
        }
        ul.active {
            // display: block;
            transform: translate(50%, -50%);
            transition: transform ease-in 300ms;
        }
    }
}

div.classTimeProject {
    main {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-row-gap: 1rem;
        section.projectHeader {
            grid-column: 2/3;
            figure {
                height: 100%;
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: fill;
                    padding: 0.25rem;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                }
                figcaption {
                    h3 {
                        padding: 1rem 0 0.5rem;
                        font-family: "Roboto", sans-serif;
                        word-spacing: 2px;
                    }
                    p {
                        font-family: "Roboto", sans-serif;
                        word-spacing: 2px;
                        line-height: 1.5;
                        font-size: 0.9rem;
                        color: rgba(0, 0, 0, 0.9);
                    }
                }
            }
        }

        section.projectBody {
            grid-column: 2/3;
            h3 {
                margin-top: 1rem;
                margin-bottom: 1.5rem;
                text-align: center;
                font-family: "Roboto", sans-serif;
                word-spacing: 2px;
            }
            div.card {
                margin-bottom: 2rem;
                figure {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                        padding: 0.25rem;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        margin-bottom: 0.5rem;
                    }
                    figcaption {
                        p {
                            font-family: "Roboto", sans-serif;
                            word-spacing: 2px;
                            font-size: 0.9rem;
                            color: rgba(0, 0, 0, 0.9);
                            line-height: 1.5;
                        }
                    }
                }
                position: relative;
                &::before {
                    content: "";
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: rgba(0148, 122, 18, 0.5);
                    border: 1px solid;
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: -0.4rem;
                    border-radius: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}
