*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  overflow: hidden;
}

/**************

    Mobile Screens
      (Default)
    -------------
    -           -
    -           -
    - Min 310px -
    - Max 600px -
    -           -
    -           -
    -------------

*****************/
main.portfolioMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 19.2rem 1fr;
      grid-template-columns: 1fr 19.2rem 1fr;
}

div.herosection {
  grid-column: 1/-1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  background-image: url("/images/wave.svg");
  background-repeat: no-repeat;
  background-position: center top;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 19.2rem 1fr;
      grid-template-columns: 1fr 19.2rem 1fr;
}

div.herosection section.heroHeader {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

div.herosection section.heroHeader h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.3;
  color: whitesmoke;
}

div.herosection section.heroHeader h1 span {
  display: block;
}

div.herosection section.heroFigure {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 1.9rem;
}

div.herosection section.heroFigure figure {
  width: 100%;
}

div.herosection section.heroFigure figure img {
  max-width: 100%;
  height: auto;
}

div.herosection section.heroDesc {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div.herosection section.heroDesc p {
  text-align: center;
  line-height: 1.5;
  word-spacing: 2px;
  color: whitesmoke;
}

div.herosection section.CallToAction {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

div.herosection section.CallToAction a {
  text-decoration: none;
  word-spacing: 4px;
  width: 100%;
  padding: 0.8rem 0rem;
  color: #ffcd04;
  background-color: #000000;
  border-radius: 2rem;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

div.herosection section.CallToAction a:hover {
  -webkit-box-shadow: 0px -2px 0px #ffcd04, 0px 2px 0px #ffcd04, 2px 0px 0px #ffcd04, -2px 0px 0px #ffcd04;
          box-shadow: 0px -2px 0px #ffcd04, 0px 2px 0px #ffcd04, 2px 0px 0px #ffcd04, -2px 0px 0px #ffcd04;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  -webkit-transition: -webkit-transform ease-in 200ms, -webkit-box-shadow ease-in 200ms;
  transition: -webkit-transform ease-in 200ms, -webkit-box-shadow ease-in 200ms;
  transition: transform ease-in 200ms, box-shadow ease-in 200ms;
  transition: transform ease-in 200ms, box-shadow ease-in 200ms, -webkit-transform ease-in 200ms, -webkit-box-shadow ease-in 200ms;
}

section.projects {
  grid-column: 1/-1;
  margin-top: 0rem;
  padding-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 19.2rem 1fr;
      grid-template-columns: 1fr 19.2rem 1fr;
  border-radius: 10% 10% 35% 35% / 0% 0% 10% 10%;
  border-bottom: 1px solid silver;
}

section.projects h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #0C0F4F;
  word-spacing: 2px;
}

section.projects div {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

section.projects div figure a {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

section.projects div figure a img {
  max-width: 100%;
  height: auto;
}

section.projects div figure figcaption {
  margin-bottom: 2rem;
}

section.projects div figure figcaption h4 {
  margin-bottom: 0.5rem;
}

section.projects div figure figcaption p {
  font-size: 0.9rem;
  line-height: 1.5;
  word-spacing: 2px;
  color: #4b4b4b;
}

section.projects div figure figcaption span {
  font-size: 0.9rem;
}

section.projects div figure figcaption span a {
  display: inline;
  text-decoration: none;
  padding: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

section.tool {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding-top: 2rem;
}

section.tool h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  word-spacing: 2px;
  color: rgba(0, 0, 0, 0.9);
}

section.tool div.toolsHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.7rem;
}

section.tool div.toolsHeading h3 {
  margin-left: 0.5rem;
}

section.tool p {
  line-height: 1.5;
  word-spacing: 2px;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.9);
}

/* *****************
    tablet screens 
    600px to 992px

*********************/
@media (min-width: 600px) {
  main.portfolioMain {
    -ms-grid-columns: 10% 40% 40% 10%;
        grid-template-columns: 10% 40% 40% 10%;
  }
  div.herosection {
    grid-column: 1/-1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-position: center bottom;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 40% 40% 10%;
        grid-template-columns: 10% 40% 40% 10%;
  }
  div.herosection section.heroHeader {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  div.herosection section.heroHeader h1 {
    font-size: 2rem;
    font-weight: bold;
    word-spacing: 5px;
  }
  div.herosection section.heroHeader h1 span {
    display: inline;
  }
  div.herosection section.heroHeader h1 span:first-child {
    padding-right: 5px;
  }
  div.herosection section.heroHeader h1 span:last-child {
    padding-left: 5px;
  }
  div.herosection section.heroFigure {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  div.herosection section.heroDesc {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  div.herosection section.heroDesc p {
    padding-top: 2rem;
    padding-left: 2rem;
  }
  div.herosection section.CallToAction {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  div.herosection section.CallToAction a {
    width: 12rem;
  }
  section.projects {
    -ms-grid-columns: 10% 40% 40% 10%;
        grid-template-columns: 10% 40% 40% 10%;
  }
  section.projects h2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    font-size: 1.7rem;
  }
  section.projects div {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-column-gap: 2rem;
  }
  section.tool {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  section.tool h2 {
    grid-column: 1/-1;
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
  }
  section.tool div.toolsHeading:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  section.tool div.toolsHeading:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  section.tool p {
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
  }
  section.tool p:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  section.tool p:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

/* *************

    Desktop Screens
    992px to 1366px

* ****************/
@media (min-width: 992px) {
  div.herosection section.heroHeader h1 {
    font-size: 2.5rem;
  }
  div.herosection section.heroFigure {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  div.herosection section.heroFigure figure {
    width: 100%;
  }
  div.herosection section.heroFigure figure img {
    height: auto;
  }
  div.herosection section.heroDesc {
    justify-self: flex-start;
    margin-top: 4rem;
    margin-bottom: 0px;
  }
  div.herosection section.heroDesc p {
    padding-left: 0;
    padding-top: 0;
    width: 20rem;
  }
  div.herosection section.CallToAction {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    width: 20rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0px;
  }
  section.projects div figure a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.projects div figure a:hover {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    -webkit-transition: -webkit-box-shadow ease-out 200ms;
    transition: -webkit-box-shadow ease-out 200ms;
    transition: box-shadow ease-out 200ms;
    transition: box-shadow ease-out 200ms, -webkit-box-shadow ease-out 200ms;
  }
  section.projects div figure figcaption p {
    font-size: 1rem;
    line-height: 1.7;
  }
  section.tool p {
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.7;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

/******************

    Large Screens
    Larger than 1366px

*****************/
@media (min-width: 1366px) {
  main.portfolioMain {
    -ms-grid-columns: 1fr 546.5px 546.5px 1fr;
        grid-template-columns: 1fr 546.5px 546.5px 1fr;
  }
  main.portfolioMain section.projects {
    -ms-grid-columns: 1fr 546.5px 546.5px 1fr;
        grid-template-columns: 1fr 546.5px 546.5px 1fr;
  }
}

section.contact {
  grid-column: 1 / -1;
  background-color: #3333335a;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px solid #555555;
  border-bottom: 1px solid whitesmoke;
}

section.contact h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  word-spacing: 2px;
  color: rgba(0, 0, 0, 0.9);
}

section.contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.3rem;
}

section.contact .email svg {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.7rem;
}

section.contact .contactLinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 19.2rem 1fr;
      grid-template-columns: 1fr 19.2rem 1fr;
}

section.contact .contactLinks .container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1rem;
}

section.contact .contactLinks .container .contactLink {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.contact .contactLinks .container .contactLink a {
  width: 1.5rem;
  height: 1.5rem;
}

section.contact .contactLinks .container .contactLink a svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #202020;
}

section.contact .contactLinks .container .contactLink a img {
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 600px) {
  section.contact h2 {
    font-size: 1.7rem;
  }
  section.contact .contactLinks {
    -ms-grid-columns: 1fr 25rem 1fr;
        grid-template-columns: 1fr 25rem 1fr;
  }
  section.contact .contactLinks .container {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 0rem;
  }
  section.contact .contactLinks .container .contactLink {
    margin-top: 1rem;
  }
  section.contact .contactLinks .container .contactLink a img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: -webkit-box-shadow ease-in 200ms;
    transition: -webkit-box-shadow ease-in 200ms;
    transition: box-shadow ease-in 200ms;
    transition: box-shadow ease-in 200ms, -webkit-box-shadow ease-in 200ms;
  }
  section.contact .contactLinks .container .contactLink a img:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    -webkit-transition: -webkit-box-shadow ease-out 200ms;
    transition: -webkit-box-shadow ease-out 200ms;
    transition: box-shadow ease-out 200ms;
    transition: box-shadow ease-out 200ms, -webkit-box-shadow ease-out 200ms;
  }
}

footer {
  grid-column: 1 / -1;
  background-color: #333333ee;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

footer div.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  grid-row-gap: 0.5rem;
}

footer div.container div.links {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.6rem;
}

footer div.container div.links a {
  color: whitesmoke;
  font-size: 0.8rem;
  word-spacing: 2px;
  text-align: left;
  text-decoration: none;
}

footer div.container div.links a:hover {
  text-decoration: underline;
}

footer div.container div.publishDate {
  color: yellow;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: smaller;
  word-spacing: 2px;
}

@media (min-width: 600px) {
  footer div.container {
    -ms-grid-columns: 10% 40% 40% 10%;
        grid-template-columns: 10% 40% 40% 10%;
  }
  footer div.container a {
    text-align: center;
  }
  footer div.container div.publishDate {
    color: yellow;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    justify-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: smaller;
    word-spacing: 2px;
    padding-bottom: 1rem;
  }
}

@media (min-width: 1366px) {
  footer div.container {
    -ms-grid-columns: 1fr 546.5px 546.5px 1fr;
        grid-template-columns: 1fr 546.5px 546.5px 1fr;
  }
}

div.about main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  padding-bottom: 2rem;
}

div.about main div.cover {
  grid-column: 1 / -1;
  height: 14rem;
  border-bottom: 1px solid #444444;
  -webkit-box-shadow: 0px 10px 1px #F7DE8F;
          box-shadow: 0px 10px 1px #F7DE8F;
  margin-bottom: 1.5rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
}

div.about main div.cover::before {
  content: "";
  background: url(cover.jpg);
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

div.about main div.cover figure {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 1rem;
}

div.about main div.cover figure img {
  width: 8rem;
  height: auto;
  border-radius: 5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  padding: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid #947a12;
  -webkit-box-shadow: none;
          box-shadow: none;
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform ease-out 200ms, -webkit-box-shadow ease-out 200ms;
  transition: -webkit-transform ease-out 200ms, -webkit-box-shadow ease-out 200ms;
  transition: transform ease-out 200ms, box-shadow ease-out 200ms;
  transition: transform ease-out 200ms, box-shadow ease-out 200ms, -webkit-transform ease-out 200ms, -webkit-box-shadow ease-out 200ms;
}

div.about main div.cover figure img:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transition: -webkit-transform ease-in 200ms, -webkit-box-shadow ease-in 200ms;
  transition: -webkit-transform ease-in 200ms, -webkit-box-shadow ease-in 200ms;
  transition: transform ease-in 200ms, box-shadow ease-in 200ms;
  transition: transform ease-in 200ms, box-shadow ease-in 200ms, -webkit-transform ease-in 200ms, -webkit-box-shadow ease-in 200ms;
}

div.about main div.cover figure figcaption h3 {
  color: #222222;
  word-spacing: 2px;
}

div.about main div.cover figure figcaption p {
  color: #444444;
  word-spacing: 2px;
}

div.about main p.about-desc {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  line-height: 1.6;
  word-spacing: 4px;
  letter-spacing: 0.5px;
}

@media (min-width: 1366px) {
  div.about main {
    -ms-grid-columns: 1fr 1093px 1fr;
        grid-template-columns: 1fr 1093px 1fr;
  }
  div.about main div.cover {
    -ms-grid-columns: 1fr 1093px 1fr;
        grid-template-columns: 1fr 1093px 1fr;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  position: relative;
  background-color: #202020;
}

header div.logo {
  width: 4rem;
  height: 2rem;
}

header div.logo a img {
  max-width: 100%;
  height: auto;
}

header nav {
  cursor: pointer;
}

header nav div.menuIcon svg {
  fill: white;
}

header nav ul {
  list-style-type: none;
  position: absolute;
  background-image: linear-gradient(45deg, #3023ae 0%, #f09 100%);
  border-radius: 38% 5% 0% 28% / 25% 55% 31% 13%;
  padding: 15rem 15rem 5rem 5rem;
  top: 0px;
  right: 0rem;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  -webkit-transition: -webkit-transform ease-out 300ms;
  transition: -webkit-transform ease-out 300ms;
  transition: transform ease-out 300ms;
  transition: transform ease-out 300ms, -webkit-transform ease-out 300ms;
}

header nav ul li {
  color: whitesmoke;
  padding: 0.35rem 0;
  word-spacing: 2px;
}

header nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

header nav ul.active {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: -webkit-transform ease-in 300ms;
  transition: -webkit-transform ease-in 300ms;
  transition: transform ease-in 300ms;
  transition: transform ease-in 300ms, -webkit-transform ease-in 300ms;
}

@media (min-width: 600px) {
  header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header div.logo {
    width: 6rem;
  }
  header nav {
    cursor: default;
  }
  header nav div {
    display: none;
  }
  header nav ul {
    position: relative;
    background-image: none;
    border-radius: initial;
    padding: 0px;
    top: auto;
    right: auto;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 12rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav ul li {
    padding: 0px;
    cursor: pointer;
  }
  header nav ul li a {
    color: #FFCD04;
  }
  header nav ul li a:hover {
    color: #ac8b09;
    border-bottom: 1px solid #ac8b09;
  }
  header nav ul li:first-child {
    display: none;
  }
  header nav ul.active {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 992px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 40% 40% 10%;
        grid-template-columns: 10% 40% 40% 10%;
  }
  header div.logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  header nav {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    justify-self: flex-end;
  }
}

@media (min-width: 1366px) {
  header {
    -ms-grid-columns: 1fr 546.5px 546.5px 1fr;
        grid-template-columns: 1fr 546.5px 546.5px 1fr;
  }
}

div.classTimeProject main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  grid-row-gap: 1rem;
}

div.classTimeProject main section.projectHeader {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

div.classTimeProject main section.projectHeader figure {
  height: 100%;
  width: 100%;
}

div.classTimeProject main section.projectHeader figure img {
  max-width: 100%;
  height: auto;
  padding: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

div.classTimeProject main section.projectHeader figure figcaption h3 {
  padding: 1rem 0 0.5rem;
  word-spacing: 2px;
}

div.classTimeProject main section.projectHeader figure figcaption p {
  word-spacing: 2px;
  line-height: 1.5;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.9);
}

div.classTimeProject main section.projectBody {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

div.classTimeProject main section.projectBody h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  word-spacing: 2px;
}

div.classTimeProject main section.projectBody div.card {
  margin-bottom: 2rem;
  position: relative;
}

div.classTimeProject main section.projectBody div.card figure {
  width: 100%;
  height: 100%;
}

div.classTimeProject main section.projectBody div.card figure img {
  max-width: 100%;
  height: auto;
  padding: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

div.classTimeProject main section.projectBody div.card figure figcaption p {
  word-spacing: 2px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.5;
}

div.classTimeProject main section.projectBody div.card::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(148, 122, 18, 0.5);
  border: 1px solid;
  display: block;
  position: absolute;
  left: 50%;
  top: -0.4rem;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=index.css.map */